.container-buttons{
    display: block;
    margin: 10px 0;
}
.container{
    display: flex;    
}
.item{
    display: flex;
    flex-direction: row;
    width: 100%; 
    justify-content: space-between; 
     
}
.listagem{
    width: 100%;
    display: flex;
    flex-direction: column;

}
.confirma{
    position:fixed;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    background-color: rgba(7, 7, 7, 0.249);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.modal{
    background-color: white;
    margin: auto;
    padding: 15px;
    display: flex;
    gap: 15px;    
}

.btn {
    display: flex;
    justify-content: space-evenly;
}

.nome-descricao{
    width: 500px;
}

.endereco-descricao{
    width: 500px;
}
.pesquisa{
    width: 600px;
}